@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari, Edge */
html::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

/* Hide scrollbar for Firefox */
body {
  scrollbar-width: none;
  overflow-y: scroll;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}


.shimmer {
  background: linear-gradient(
    110deg,
    #e5e7eb 40%,
    #f3f4f6 50%,
    #e5e7eb 60%
  );
  background-size: 200% 100%;
  animation: shimmer 2s infinite;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
