@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari, Edge */
html::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

/* Hide scrollbar for Firefox */
body {
  scrollbar-width: none;
  overflow-y: scroll;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

.shimmer {
  background: linear-gradient(110deg, #e5e7eb 40%, #f3f4f6 50%, #e5e7eb 60%);
  background-size: 200% 100%;
  animation: shimmer 2s infinite;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

@keyframes fadeSlideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeSlideUp {
  animation: fadeSlideUp 0.5s ease forwards;
}

@keyframes fadeSlideRight {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fadeSlideRight {
  animation: fadeSlideRight 0.4s ease forwards;
}

.recharts-wrapper:focus,
.recharts-wrapper *:focus {
  outline: none;
}
